{% extends 'base.html' %}

<!--{% block title%}Corona Site{% endblock %}-->

{% block head %}

{% endblock %}

{% block content %}

<div class="row">
    <div class="leftcolumn">
        {% if Response == 'Post has been posted' %}
            {% for card in cards %}
                <div class="card">
                    <h2>{{card[0]}}</h2>
                    <h5>Title description, Dec 7, 2017</h5>
                    <div class="fakeimg" style="height:200px;">Image</div>
                    <p>{{card[1]}}</p>
                </div>
            {% endfor %}
        {% else %}
            <h1>There are no posts currently, try posting one!</h1>
        {% endif %}
    <div>
</div>


{% endblock %}